* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  background: #98c58d;
}

.header {
  height: 100vh;
  background: url("../../img/background.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__content {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
}

.header__content--title {
  font-size: 5rem;
  -webkit-animation: moveInLeft 2s ease-in-out;
          animation: moveInLeft 2s ease-in-out;
}

.header__content--text {
  -webkit-animation: moveInRight 2s ease-in-out;
          animation: moveInRight 2s ease-in-out;
}

.arrow {
  width: 40px;
  position: absolute;
  bottom: 5%;
  left: 50%;
}

.main {
  background: #98c58d;
  height: 400px;
}

.pokemons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.input {
  padding: 10px;
  margin-top: 20px;
  margin-right: 5px;
  border: 0;
  border-radius: 5px;
}

.btn {
  background: #fff;
  border: 1px solid rgb(81, 143, 66);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all .5s ease;
  color: rgb(81, 143, 66);

}

.btn:hover {
  background: rgb(67, 67, 67);
  color: #fff;

  animation: moveInTop 1s infinite;
}

@keyframes moveInTop {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }

}

.tools {
  width: 420px;
  margin: 0px auto;
}

.pokemon-card {
  background: #eee;
  width: 15rem;
  padding: 1.225rem;
  text-align: center;
  margin: 1rem;
}

@media only screen and (max-width: 415px) {
  .header__content--title {
    font-size: 3rem;
  }
  .header__content--text {
    margin-bottom: 50px;
  }
  .pokemons-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .pokemon-card {
    width: auto;
  }
  .arrow {
    bottom: 20%;
    left: 30%;
  }
  .main {
    height: 500px;
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.grass {
  background-color: #79c74c70;
}

.fire {
  background-color: #ee823070;
}

.water {
  background-color: #6390F070;
}

.electric {
  background-color: #F7D02C70;
}

.ice {
  background-color: #96D9D670;
}

.fighting {
  background-color: #C22E2870;
}

.psychic {
  background-color: #F9558770;
}

.poison {
  background-color: #A33EA170;
}

.ground {
  background-color: #E2BF6570;
}

.flying {
  background-color: #A98FF370;
}

.bug {
  background-color: #A6B91A70;
}

.rock {
  background-color: #B6A13670;
}

.ghost {
  background-color: #73579770;
}

.dragon {
  background-color: #6F35FC70;
}

.dark {
  background-color: #70574670;
}

.steel {
  background-color: #B7B7CE70;
}

.fairy {
  background-color: #D685AD70;
}
/*# sourceMappingURL=main.css.map */