.grass {
    background-color: #79c74c70;
  }
  
  .fire {
    background-color: #ee823070;
  }
  
  .water {
    background-color: #6390F070;
  }

  .electric {
    background-color: #F7D02C70;
  }

  .ice {
    background-color: #96D9D670;
  }

  .fighting {
    background-color: #C22E2870;
  }

  .psychic {
      background-color: #F9558770;
  }

  .poison {
      background-color: #A33EA170;
  }

  .ground {
      background-color: #E2BF6570;
  }

  .flying {
      background-color: #A98FF370;
  }

  .bug {
      background-color: #A6B91A70;
  }

  .rock {
      background-color: #B6A13670;
  }

  .ghost {
      background-color: #73579770;
  }

  .dragon {
      background-color: #6F35FC70;
  }

  .dark {
      background-color: #70574670;
  }

  .steel {
      background-color: #B7B7CE70;
  }

  .fairy {
      background-color: #D685AD70;
  }