.main {
    background: rgb(152, 197, 141);
    height: 400px;
}

.pokemons-container {
    display: flex;
}

.input {
    padding: 10px;
    margin-top: 20px ;
    border: 0;
}

.btn {
    background: rgb(138, 203, 226);
    border: 0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.tools {
    width: 320px;
    margin: 0px auto;
}
