.main {
    background: rgb(152, 197, 141);
}

.pokemons-container {
    display: flex;
}

.input {
    padding: 10px;
    margin-top: 20px ;
}

.btn {
    background: rgb(38, 138, 38);
    padding: 10px;
    cursor: pointer;
}

.tools {
    width: 320px;
    margin: 0px auto;
}
